<footer class="text-muted py-5">
    <div class="container">
        <p class="float-right mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">A small number of projects? <a href="https://github.com/mezgoodle?tab=repositories" target="_blank">Visit the homepage</a> of my repositories on <a href="https://github.com">GitHub</a>.</p>
        <p class="mb-0">MIT License &copy; by <a href="https://github.com/mezgoodle/portfolio/blob/master/LICENSE" target="_blank">Maxim Zavaniuk</a></p>
    </div>
</footer>